 .weather {
            height : 200px;
            width : 200px;
        }
        .address {
            width : 100%;
            height : 15%;
            background-color : #FBFAD1;

        }
        .addressDate {
            width : 100%;
            height : 15%;
            background-color : #FBFAD1;
            padding-top : 5px;

        }
        .addressWeather {
            width : 100%;
            height : 50%;
        }
        .degree {
            height : 100%;
            width : 50%;
            float : left;
            background-color : beige;
        }
        .imageWeather {
            height : 100%;
            width : 50%;
            margin : auto;
            float : right;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color : beige;
        }
        .wind {
            height : 20%;
            width : 100%;
            background-color : lightgray;

        }
        .flip {
    -webkit-perspective: 800;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 50px auto;
    }
    .flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
    }
    .flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    }
    .flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
    }
    .flip .card .front {
    position: absolute;
    z-index: 1;
    }
    .flip .card .back {
    -webkit-transform: rotatex(-180deg);
    }